body {
    background-color: white;
}

.parrafo {
    color: rgb(125, 110, 235);
    background-color: white;
}

#parrafoUnico {
    color: black;
}

#contenedor1 {
width: 45vw;
height: 80vh;
border: 1px solid black;
margin: 15px;
}

#contenedor2 {
width: 45vw;
height: 80vh;
border: 1px solid black;
margin: 15px;
}

.cuadrado {
    width: 25%;
    height: 25%;
    background-color: cyan;
    border: 1px solid black;
}